* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, white, #fff5f5);
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1000px) {
  .container .isi {
    gap: 220px;
    width: 1440px;
    height: 800px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: hidden;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.container .isi .logo {
  margin: 28px 0 28px 40px;
}

@media screen and (min-width: 1000px) {
  .container .isi .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 70px 0 28px 165px;
  }
}

.container .isi .logo img {
  width: 30%;
}

@media screen and (min-width: 1000px) {
  .container .isi .logo img {
    width: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .container .isi .gambar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.container .isi .gambar .gambar-dekstop {
  display: none;
}

@media screen and (min-width: 1000px) {
  .container .isi .gambar .gambar-dekstop {
    display: block;
  }
  .container .isi .gambar .gambar-dekstop img {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .container .isi .gambar .gambar-mobile {
    display: none;
  }
}

.container .isi .gambar .gambar-mobile img {
  width: 100%;
}

.container .isi .content {
  text-align: center;
  padding: 0 40px;
  margin-bottom: 100px;
}

@media screen and (min-width: 1000px) {
  .container .isi .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 0;
    margin-left: 165px;
    margin-top: 190px;
    text-align: left;
  }
}

.container .isi .content h1 {
  margin: 50px 0 16px 0;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 42px;
  color: #ce9797;
}

@media screen and (min-width: 1000px) {
  .container .isi .content h1 {
    font-size: 66px;
    letter-spacing: 14px;
  }
}

.container .isi .content span {
  color: #413a3a;
  font-weight: 600;
}

.container .isi .content p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 13.5px;
  color: #ce9797;
}

@media screen and (min-width: 1000px) {
  .container .isi .content p {
    font-size: 16px;
    line-height: 1.75;
  }
}

.container .isi .content .form-input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .isi .content .form-input form {
  border: hidden;
  width: 100%;
  border: none;
}

.container .isi .content .form-input form input:focus {
  outline: none;
}

.container .isi .content .form-input form input[type=text] {
  padding-left: 26px;
  border: 1px #ce9797 solid;
  background: none;
  border-radius: 24px;
  height: 46px;
  width: 100%;
  color: #ce9797;
}

@media screen and (min-width: 1000px) {
  .container .isi .content .form-input form input[type=text] {
    height: 54px;
    border-radius: 28px;
    font-size: 16px;
  }
}

.container .isi .content .form-input .button {
  border: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(206, 151, 151, 0.5);
          box-shadow: 0px 10px 20px rgba(206, 151, 151, 0.5);
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  top: 0;
  right: 0;
  position: absolute;
  border-radius: 24px;
  margin-left: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 46px;
  margin-left: -10px;
  background-color: black;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media screen and (min-width: 1000px) {
  .container .isi .content .form-input .button {
    height: 54px;
    width: 100px;
    border-radius: 28px;
  }
}

.container .isi .content .form-input .button:hover {
  -webkit-box-shadow: 0px 20px 20px rgba(206, 151, 151, 0.5);
          box-shadow: 0px 20px 20px rgba(206, 151, 151, 0.5);
  background-image: linear-gradient(135deg, #fac7c7, #ecacac);
}

.container .isi .content .form-input .error {
  position: absolute;
  margin-left: 120px;
}

@media screen and (min-width: 1000px) {
  .container .isi .content .form-input .error {
    margin-left: 200px;
  }
}

.container .isi .content .form-input .tulisan-error {
  display: block;
  color: red;
  position: absolute;
  margin-top: 80px;
  margin-right: 70px;
}

@media screen and (min-width: 1000px) {
  .container .isi .content .form-input .tulisan-error {
    margin-right: 190px;
  }
}
/*# sourceMappingURL=main.css.map */